html{
	scroll-behavior: smooth;
}
body {	
	background:url("background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	margin:0px;
	font-family: Verdana;
}
.required {
	color:red;
}
.navbar {
	height:100px;
}
.navlist {
	margin: 0px auto;
	width:1200px;
	padding-top:50px;
}
.navlist ul {
  list-style-type: none;
  overflow: hidden;
  margin:0px;
  padding:0px;
}
.navlist-left  {
	float:left;
}
.navlist-right {
	float:right;
}
.navlist li a {
	display:block;
	color: white;
	margin:0px 10px;
	text-decoration:none;
	font-size:28px;
	font-family: Agency FB;
	transition: 0.50s;
	padding:3px 20px;
    border: 2px solid transparent;
	background-color:rgba(0,0,0,0.4);
	border-radius: 20px;
}
.logo {
	position: absolute;
	margin:-6px;
	left:615px;
}
.navlist ul li a:hover {
  color: black;
  background-color: #f7cac9;
  border-radius: 2px solid transparent;

}
.main {
	padding-top:20px;
	height:450px;
	padding-left:95px;
}
.main h1 {
	margin:0px;
	padding-top:80px;
	text-align:left;
	color:#990033;
	font-size:80px;
	font-family:apple chancery,cursive;
}
.main p {
	margin:0px;
	font-family:apple chancery,cursive;
	text-align:left;
	color:  #ffccff;
	font-size:25px;
	padding-top:40px;
	padding-bottom: 50px;
}
.main-options {
	margin-right:40px;
	padding:10px;
	text-decoration:none;
	color:white;
	font-size:20px;
	background: transparent;
	border:2px solid white;
	transition: 0.50s;
	font-family: apple chancery,cursive;
	border-radius: 25px;
}
.main-option a:hover {
	color:white;
	background:#990033;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 60px;
  right: 16px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgba(0,0,0,0.4); 
  color: white; 
  cursor: pointer; 
  padding: 15px;
	padding-top:5px;
  border-radius: 20px; 
  font-size: 35px; 
}

#myBtn:hover {
  background-color: black; 
}
.about {
	background-color: rgba(0,0,0,0.4);
	color:black;
	padding-top:30px;
	padding-left:60px;
	padding-bottom:40px;
	margin: 0px 80px;
		border-radius: 15px;
}
.about-img {
	float:right;
	height:350px;
	width:350px;
	padding-top:40px;
	padding-right:70px;
}
.about h1 {
	margin:0px;
	text-align:left;
	font-size:40px;
	padding-bottom:30px;
	margin:0px;
	color:#990033;
}
.about p {
	margin:0px;
	text-align:left;
	font-size:20px;
	padding-bottom:40px;
	padding-right:600px;
	font-family: apple chancery,cursive;
}
.appointment {
	height:550px;
	padding-top:30px;
	padding-left:60px;
	margin:0px 80px;
	background-color: #d9d9e8;
}
.appointment h1 {
	text-align:center;
	font-size:40px;
	padding-bottom:30px;
	margin:0px;
	font-family: Verdana;
}
.appointment h3 {
	padding-top:40px;
	padding-left:30px;
	float: left;
	font-family: Brush Script MT ;
	font-size:70px;
	margin:0px;
	color:#ff66b8;
}
.myForm {
	margin-left: 650px;
	font-family: apple chancery,cursive;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	margin: 0;
}
.form_input1 {
	font-size:20px;
	border:2px solid black;
	background-color: transparent;
	margin-bottom:10px;
	padding-left:5px;
	padding-top:20px;
	padding-right:90px;
}
.form_input2 {
	font-size:20px;
	border:2px solid black;
	background-color: transparent;
	margin-bottom:10px;
	margin-top:10px;
	padding-left:5px;
	padding-top:15px;
	padding-right:15px;
}
.form_input3{ 
	font-size:20px;
	border:3px solid black;
	background:#990033;
	padding-bottom: 15px;
    padding-left: 60px;
    padding-top: 15px;
    padding-right: 55px;
	color:white;
	transition: 0.50s;
	
}
.form_input4 {
	font-size:20px;
	border:2px solid black;
	background-color: transparent;
	margin-bottom: 20px;
	margin-top:10px;
    padding-left: 5px;
    padding-bottom: 120px;
    padding-top: 15px;
    padding-right: 90px;
}
.form_submit :hover {
	background: transparent;
	color:black;
}
.gallery {
	padding-top:30px;
	padding-left:60px;
	margin:0px 80px;
	height:650px;
	background-color: white;
}
.gallery h1 {
	text-align:center;
	font-size:40px;
	padding-bottom:30px;
	margin:0px;
	font-family: Verdana;
}
.gallery-img {
	margin-left:120px;
}
.gallery img {
	height:250px;
	width:250px;
	margin:10px;
	border-radius: 15px;
}
.gallery img:hover {
	opacity: 0.7;
}
.modal {
	display: none;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); 
}
.modal_content-1 {
  background-color: #fefefe;
  margin: 3% auto; 
  padding-left: 20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  border: 5px solid #990033;
  width: 26%;
}
.img-zoom {
	margin: 3% 30% auto; 
  padding-left: 20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  width: 26%;
  	border-radius: 30px;
}
.swipeImg {
	color:white;
	font-size:80px;
	margin-top:250px;
	margin-right:30px;
	margin-left:30px;
	cursor:pointer;
}
.swipeImg:hover {
	color:grey;
}
#nextImg {
	float:right;
}
#prevImg {
	float:left;
}
.modal_content-2 {
  background-color: #fefefe;
  margin: 10% auto; 
  padding-left: 30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:20px;
  border: 5px solid #990033;
  width: 800px; 
  height:240px;
  	border-radius: 10px;
}
table {
	background-color:#ffccff;
	margin-top:10px;
	width:100%;
}
td {
	text-align:center;
	background-color:white;
}
.timing-options {
	margin-right: 50px;
    margin-top: 20px;
	padding:10px;
	text-decoration:none;
	color:white;
	font-size:20px;
	background:#990033;
	border:3px solid black;
	transition: 0.50s;
	float:right;
}
.timing-option a:hover {
	color:black;
	background: transparent;
}
.close-1 {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
   transition:0.5s;
}
.close-1:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close-2 {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
   transition:0.5s;
}
.close-2:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#message {
	border: 2px solid black;
	background-color:white;
	height:30px;
}
.contact{
	color:black;
	padding-top:30px;
	padding-left:60px;
	padding-bottom:20px;
	margin: 0px 80px;
	background-color: #ffccff;
	height: 420px; 
	font-family: apple chancery,cursive;
}
.contact h1{
	font-size:40px;
	margin:0px;
	font-family: Verdana;
}
.contact h3{
	padding-top:20px;
	padding-bottom:20px;
	font-size:25px;
	margin:0px;
}
.contact p{
	font-size:20px;
	margin:0px;
	padding-bottom:20px;
}

.c_details a:hover {
	color:#990033;
}
.c_details a {
	color:black;
}
.contact iframe {
	float:right;
	padding-top:30px;
	padding-right:70px;
}
.footer {
	color:black;
	margin: 0px 80px;
	background-color: white;
	height: 40px; 
	font-family: apple chancery,cursive;
	border-radius:20px;
}
.footer p {
	text-align:center;
	text-decoration:none;
	font-size:20px;
	padding-top:5px;
}

